

 <!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="UTF-8" />
     <title>Node - crea una confecion</title>
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/Fotos/iconito.ico" type="image/x-icon" />
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link
     href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Cinzel:wght@500&family=Fira+Sans+Condensed:wght@500&family=Josefin+Sans:ital,wght@0,400;1,500&family=Lato:ital,wght@1,300&family=Merienda:wght@600&family=Mukta:wght@600&family=Poppins:ital,wght@0,400;1,500&family=Questrial&family=Rubik&family=Solway:wght@700&display=swap"
     rel="stylesheet"
     />
     <link rel="stylesheet" href="/style.css" />
   </head>
 
   <body> -->
      <div class="Todos">
        <%- include("template/navbar") %>

<div class="ElT">
  <h2>Confiesate</h2>

  <form action="/Confesiones" method="post" class="Form1">
    <p>Titulo</p>
    <input
      type="text"
      placeholder="Enter your title"
      maxlength="20"
      class="T1Input"
      name="Tema"
    />
    <p>Nombre</p>
    <input
      type="text"
      placeholder="Enter your name/alias"
      class="NameInput"
      name="Alias"
    />

    <p>Contraseña</p>
    <input
      type="password"
      placeholder="Enter your password"
      class="PassInput"
      name="Pass"
    />

    <p>Asunto</p>
    <textarea
      placeholder="Enter your subject"
      class="ConfiInput"
      maxlength="1000"
      name="Confesion"
    ></textarea>
    <aside class="fle">
      <button class="BtCrea">Crear</button>
    </aside>
  </form>
</div>

<%- include("template/footer") %>
