

<div class="ElT">
  <h2>Confiesate</h2>

  <form action="/Confesiones" method="post" class="Form1">
    <p>Titulo</p>
    <input
      type="text"
      placeholder="Enter your title"
      maxlength="20"
      class="T1Input"
      name="Tema"
    />
    <p>Nombre</p>
    <input
      type="text"
      placeholder="Enter your name/alias"
      class="NameInput"
      name="Alias"
    />

    <p>Contraseña</p>
    <input
      type="password"
      placeholder="Enter your password"
      class="PassInput"
      name="Pass"
    />

    <p>Asunto</p>
    <textarea
      placeholder="Enter your subject"
      class="ConfiInput"
      maxlength="1000"
      name="Confesion"
    ></textarea>
    <aside class="fle">
      <button class="BtCrea">Crear</button>
    </aside>
  </form>
</div>

<%- include("template/footer") %>
